<div>

  <!-- <style>
    .navbar-pt {
      justify-content: space-between !important;
      background: #0ead69;
    }
    
    .navbar-pt .navbar-collapse {
      flex-grow: 0;
    }
    
    .navbar-pt .navbar-brand img {
      height: 40px;
    }
    
    .mini-nav {
      background-color:cadetblue;
      margin: 0 0 0 0;
      padding: 5px;
    }
</style> -->


<div class="navbar navbar-expand-sm navbar-pt">
   <a href="/" class="navbar-brand"><img src="{{ url_for('pages.download_file', filename='ARLogo.png') }}" alt="image alt text" /></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if current_user.is_authenticated %}
      <li class="nav-item dropdown" role="button">
        <!-- <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"> -->
        <summary class="dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ url_for('pages.download_file', filename='defaultpic.png') }}" style="height:40px" alt="image alt text" />
          <!-- {{ user.name }} -->
        </summary>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('pages.profile') }}">Account details</a>
          <a class="dropdown-item" rel="nofollow" data-method="delete" href="{{ url_for('auth.logout') }}">Log out</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
          <a class='nav-link' href="{{ url_for('auth.login') }}">Login</a>
        </li>
        <li class="nav-item">
          <a class='nav-link' href="{{ url_for('auth.signup') }}">Signup</a>
        </li>
      {% endif %}
    </ul>
  </div>
</div>


</div>
