{% extends "layout.html" %}
{% block content %}

<div class='home'>
<div class='container justify-content-center'>
  <br>
  <br>
  <br>
  <div class="jumbotron chart-card w-50">
    <h1>Flask React App </h1>
    <hr class="my-4">
    <div class='image-row d-flex'>
      <img class='home-image' src="https://cdn.icon-icons.com/icons2/1465/PNG/512/732barchart_100281.png"/>
      <!-- <img class='home-image' src="https://icon-library.com/images/building-icon-png/building-icon-png-9.jpg"/> -->
      <img class='home-image' src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/512/Line-chart-icon.png"/>
    </div>
    <p class="lead">Template for web development.</p>
    <br>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/react/app" role="button">Get Started</a>
    </p>
  </div>
  <br>
  <br>
  <br>
  <br>
</div>
</div>
{% endblock %}